/* * {
  color: white;
} */
* {
  background-color: black;
}

.header {
  margin-left: 22em;
}

.for-movie-flex {
  display: inline-block;

  /* margin-top: 4em; */
}

li {
  color: white;
}

img {
  height: 20em;
  width: 16em;
}

div {
  color: white;
}
input {
  color: white;
}

.search-one{
  margin-left: 665px;
  margin-top: 20px;
}


.last {
  text-align: center;
  margin-top: 20px;
}
